---
body_classes: body--places
---

- @dynamic_title = location

.CalendarBody
  .Header
    = link_to 'All Locations', '/places', class: 'Header__breadcrumb'

    = @dynamic_title

  .Day
    .Day__label= location
    .Day__activities
      - places.sort{ |a, b| a.to_s.downcase <=> b.to_s.downcase }.each do | id, place |
        .Day__activity{class: "Activity--#{place.type}"}
          = link_to place.name, place.link, target: '_blank', rel: 'noopener'
