---
  title: Japan
  body_classes: home
  meta_description:
  meta_keywords:
---

.CalendarBody
  .Header Japan — February 2019
  .DateCalendar.DateCalendar--header
    - # You might like to start the calendar week on a Sunday, but you’d be wrong ;)
    - [ 'Mon','Tue','Wed','Thu','Fri','Sat','Sun'].each do | day |
      .DateCalendar__day= day

  .DateCalendar.DateCalendar--body
    - # Placeholder dates for calendar
    - (4..5).each do | day |
      = partial 'components/day_placeholder', locals: { day: day }

    - # Actual dates
    - dates_in_order.each do | slug, date |
      = partial 'components/day_summary', locals: { slug: slug, date: date }

    - # A few more placeholder dates
    - (20..24).each do | day |
      = partial 'components/day_placeholder', locals: { day: day }

  =# partial 'components/debug'
  
.DateNav.DateNav--footer
  .Toggle
    = link_to 'Dates', '/', class: 'Toggle__item Toggle__item--active'
    = link_to 'Places', '/places', class: 'Toggle__item'

:javascript
  let today = new Date().toISOString().substr(0, 10);
  document.querySelector(".DateCalendar--body").classList.add(`Date--${today}`);
