---
  title: Japan
  body_classes: body--places
  meta_description:
  meta_keywords:
---

.CalendarBody
  .Header= link_to 'Japan — February 2019', '/' 
  
  - places = data.places
  - meals = data.meals.select{ | id, meal | meal.location != 'Flight' && meal.location != 'na' }
  - all_locations = places.merge(meals)
  
  - places_by_location = all_locations.group_by{ |id, place| place.location }.sort{ |a, b| a.to_s.downcase <=> b.to_s.downcase }

  - places_by_location.each do | location, places |
    .Day
      .Day__label= link_to location, "/places/#{location.parameterize('-')}"

.DateNav.DateNav--footer
  .Toggle
    = link_to 'Dates', '/', class: 'Toggle__item'
    = link_to 'Places', '/places', class: 'Toggle__item Toggle__item--active'
